<template>
  <v-app>
    <v-navigation-drawer
      persistent
      :mini-variant="miniVariant"
      v-model="drawer"
      enable-resize-watcher
      app
    >
      <v-list>
        <v-toolbar height="56px">
          <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
          <v-toolbar-title v-text="title"></v-toolbar-title>
        </v-toolbar>
        <v-list-tile v-for="(item, i) in items" :key="i" :to="{path: item.url}">
          <v-list-tile-action>
            <v-icon v-html="item.icon"></v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>{{ $t(item.title) }}</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-divider></v-divider>
        <v-list-tile @click.stop="miniVariant = !miniVariant">
          <v-list-tile-action>
            <v-btn icon>
              <v-icon v-html="miniVariant ? 'chevron_right' : 'chevron_left'"></v-icon>
            </v-btn>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>{{ $t("sidebartoggle") }}</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar app>
      <v-toolbar-side-icon v-if="!drawer" @click.stop="drawer = !drawer"></v-toolbar-side-icon>
      <v-toolbar-title v-if="!drawer || miniVariant" v-text="title"></v-toolbar-title>
      <v-spacer></v-spacer>
      <v-menu offset-y>
        <v-btn flat slot="activator">{{$i18n.locale}}</v-btn>
        <v-list>
          <v-list-tile v-for="(lang, i) in langs" :key="`Lang${i}`" @click="changeLang(lang)">
            <v-list-tile-title class="text-xs-center">{{ lang }}</v-list-tile-title>
          </v-list-tile>
        </v-list>
      </v-menu>
      <v-btn
        v-if="(this.$route.path !== '/login') && (!logged)"
        to="/login"
        flat
      >{{ $t("auth.sigin") }}</v-btn>
      <v-menu v-if="logged" offset-y>
        <v-btn flat slot="activator">
          <v-avatar size="30px">
            <v-gravatar :email="email"/>
          </v-avatar>
        </v-btn>
        <v-list>
          <v-list-tile @click="logOut()">
            <v-list-tile-title class="text-xs-center">Iziet</v-list-tile-title>
          </v-list-tile>
        </v-list>
      </v-menu>
    </v-toolbar>
    <v-content>
      <app-container/>
    </v-content>
    <v-footer app>
      <span>Copyright &copy; 2018 Gints Polis</span>
    </v-footer>
  </v-app>
</template>

<script lang="ts">
import { Component, Vue, Inject } from 'vue-property-decorator'
import i18n from './i18n'
import AppContainer from './components/AppContainer.vue'
import users from './store/modules/users.module'
import VeeValidate from 'vee-validate'

@Component({
  name: 'App',
  components: {
    AppContainer
  }
})
export default class App extends Vue {
  private active = ''
  private langs = ['LV', 'EN', 'RU']
  private drawer = false
  private items = [
    {
      icon: 'home',
      title: 'menu.home',
      url: '/'
    },
    {
      icon: 'people',
      title: 'menu.employee',
      url: '/employee'
    },
    {
      icon: 'info',
      title: 'menu.about',
      url: '/about'
    }
  ]
  private miniVariant = false
  private title = 'VUE Fullstack demo'

  get logged() {
    return users.logged
  }

  get email() {
    if (users && users.user && users.user.user) {
      return users.user.user.email
    } else {
      return ''
    }
  }

  private changeLang(lang: string) {
    this.$i18n.locale = lang.toLowerCase()
    this.$validator.locale = lang.toLowerCase()
  }

  private logOut() {
    users.logOut()
  }
}
</script>
