<template>
  <div>
    <v-toolbar flat color="white">
      <v-toolbar-title>Darbinieki</v-toolbar-title>
      <v-divider class="mx-2" inset vertical></v-divider>
      <v-spacer></v-spacer>
      <v-dialog v-model="dialog" fullscreen hide-overlay transition="dialog-bottom-transition">
        <v-btn slot="activator" color="primary" dark class="mb-2">Jauns darbinieks</v-btn>
        <EmployeeForm ref="form" @close="close()"/>
      </v-dialog>
    </v-toolbar>
    <v-data-table
      :headers="headers"
      :items="items"
      hide-actions
      class="elevation-1"
      :loading="loading"
    >
      <template v-slot:items="props">
        <td>{{ props.item.firstname }}</td>
        <td>{{ props.item.lastname }}</td>
        <td>
          <v-icon small class="mr-2" @click="editItem(props.item)">edit</v-icon>
          <!-- <v-icon small @click="deleteItem(props.item)">delete</v-icon> -->
        </td>
      </template>
    </v-data-table>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue, Inject } from 'vue-property-decorator'
import { Employee } from '../store/modules/employee.model'
import employee from '../store/modules/employee.module'
import { getModule } from 'vuex-module-decorators'
import VueI18n from 'vue-i18n'

const EmployeeForm = () => import('./EmployeeForm.vue')

@Component({
  components: {
    EmployeeForm
  }
})
export default class EmployeeList extends Vue {
  private dialog = false
  private headers = [
    { text: this.$root.$t('employee.fields.firstname'), value: 'firstname' },
    { text: this.$root.$t('employee.fields.lastname'), value: 'lastname' },
    {
      text: this.$root.$t('main.operations'),
      value: 'action',
      align: 'center',
      sortable: false
    }
  ]

  get loading() {
    return employee.loading
  }

  get items() {
    return employee.items
  }

  private editItem(item: Employee) {
    employee.editItem(item)
    this.dialog = true
  }

  // private deleteItem(item: Employee) {}

  private close() {
    this.dialog = false
  }

  private async created() {
    await employee.getEmployee()
  }
}
</script>
