<template>
  <div>
    <img src="../assets/logo.png" alt="Vuetify.js" class="mb-5">
    <blockquote>
      &#8220;{{ msg }}&#8221;
      <footer>
        <small>
          <em>&mdash;{{ $t("itsme") }}</em>
        </small>
      </footer>
    </blockquote>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator'

@Component({})
export default class HelloWorld extends Vue {
  @Prop(String) private msg!: string
}
</script>
