<template>
  <div class="home">
    <HelloWorld :msg="$t('message')"/>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
const HelloWorld = () => import('../components/HelloWorld.vue')

@Component({
  components: {
    HelloWorld
  }
})
export default class Home extends Vue {}
</script>
