<template>
  <div class="home">
    <h1>Photos</h1>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import photos from '../store/modules/photos.module'

@Component({})
export default class Home extends Vue {
  private async created() {
    await photos.getPhotos()
  }
}
</script>
